
*{
  
    margin: 0px;
    font-family:sans-serif;
    padding: 0px;
    box-sizing: border-box;
}

.header{
    min-height: 100vh;
    background-image:url("images/360_F_426664270_WRa1pGaPtLKHlV8aLQ1fmNXW3LJhlsC8.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}
.navbar{
    width:100%;
    color:#fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px 60px;

}

.navbar .logo{
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 500;
    margin: 10px 0px;
}

.nav-menu ul{
    display: flex;
    justify-content: center;
    align-items: center;

}

.nav-menu ul li{
    list-style: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.nav-menu ul li a{
 text-decoration: none;
 font-size: 18px;
 color:#fff;}

 .nav-menu ul li:hover{
    background-color: #fc9003;
    transition: 0.5s  ease;

 }
 .toggle-btn{
    position:absolute;
    top:28px;
    right:60px;
    display: none;
    justify-content: space-between;
    flex-direction: column;
    height: 22px;
    width:32px;
 }

 .toggle-btn .bar{
    height:4px;
    width:100%;
    background-color: #fff;
    border-radius: 10px;
 }
 .content-section{
    width:100%;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%) ;
    text-align: center;
    padding: 0px 60px;
 }
 .content-section h1{
   
  
  color:azure;
 
    font-size: 50px;
    font-weight:700;
    letter-spacing: 1.5px;
    text-transform: uppercase;

 }

 .content-section p{
    color: #a1a1a1;
    font-size: 19px;
    margin-top:10px;
    line-height: 1.5;

 }
 .content-section .button{
    margin-top: 25px;
    
 }
 .content-section .button a{
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    display: inline-block;
    background-color: #fc9003;
    border-radius: 5px;
    padding: 14px 5px; 
    letter-spacing: 1.5px;
 }
 .content-section .button a:hover{
    background-color: #9dd153;
    transition: 0.5s ease;
 }
 @media screen and(max-width: 768px) {
    .toggle-btn{
        display: flex;
        z-index:2;
    }
    .nav-menu ul{
        width:100%;
        background-color: #508089;
        flex-direction: column;
        align-items: center;
        padding-right: 0px;
        position: absolute;
        text-align: center;
        justify-content: center;
        top:0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;


    }
    .nav-menu{
        display: flex;
        width:100%
    }
    .nav-menu ul li{
        margin: 10px 0px;
    }
    .nav-menu ul li a {
        font-size: 19px;

    }
    .navbar .logo{
        font-size: 29px;
    }
    .content-section h1{
        font-size:40px;

    }
    .content-section p{font-size: 16px;}
    .content-section .button a{
        font-size: 17px;
        padding: 9px 15px;

    }
    .nav-menu.active{
        display: flex;
    }
   
}